- content_for :meta do
  %meta{ :property => "og:title", :content => "#{@coffee[:name]}" }
  %meta{ :property => "og:determiner", :content => "an" }
  %meta{ :property => "fb:app_id", :content => "#{ENV["FACEBOOK_APP_ID"]}" }
  %meta{ :property => "og:image", :content => "#{root_url}#{image_path(:only_path => false)}" }
  %meta{ :property => "og:url", :content => "#{url_for(:only_path => false)}" }
  %meta{ :property => "og:type", :content => "#{ENV["FACEBOOK_APP_NAMESPACE"]}:beverage" }
  %meta{ :property => "#{ENV["FACEBOOK_APP_NAMESPACE"]}:category", :content => "#{coffees_url}" }

- content_for :javascript do
  :javascript
    function postPress()
    {
      FB.api('/me/#{ENV["FACEBOOK_APP_NAMESPACE"]}:press=#{coffees_url}','post',  function(response) {
        if (!response || response.error) {
        } else {
          alert('Post was successful! Action ID: ' + response.id);
        }
      });
    }

%h1= @coffee[:name]
%h2= @coffee[:price]
%p= @coffee[:description]
%form{ :onsubmit => "postPress();" }
  = button_tag "Order", :onclick => "postPress();"
//= render :partial => "/shared/activity_button"
