!!!
%html
  %head
    %title= @page_title || "Starzucks Coffee"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      TypekitConfig = {
          kitId: 'zsn6vjm'
        };
        (function() {
          var tk = document.createElement('script');
          tk.src = '//use.typekit.com/' + TypekitConfig.kitId + '.js';
          tk.type = 'text/javascript';
          tk.async = 'true';
          tk.onload = tk.onreadystatechange = function() {
            var rs = this.readyState;
            if (rs && rs != 'complete' && rs != 'loaded') return;
            try { Typekit.load(TypekitConfig); } catch (e) {}
          };
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(tk, s);
        })();
    %meta{ :property => "og:title", :content => "#{@page_title || "Starzucks Coffee"}" }
    %meta{ :property => "og:type", :content => "cafe" }
    %meta{ :property => "og:url", :content => "#{url_for}" }
    %meta{ :property => "og:image", :content => "#{root_url}#{image_path("assets/logo.square.png")}" }
    %meta{ :property => "og:site_name", :content => "Starzucks" }
    %meta{ :property => "fb:app_id", :content => "#{@app.id}" }

  %body
    #container
      %header
        %h1 Starzucks Coffee
        %nav
          %ul
            %li
              %a{ :href => "#" } Our Coffee
            %li
              %a{ :href => "#" } The Café
            %li
              %a{ :href => "#" } Shop Online
      %section.content
        = yield
